@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

:root {
	--clr-bg: hsl(216, 12%, 8%);
	--primary-500: hsl(213, 19%, 18%);
	--accent-500: hsl(25, 97%, 53%);
	--white: hsl(0, 0%, 100%);
	--gray-300: hsl(217, 12%, 63%);
	--gray-500: hsla(216, 12%, 54%, 0.103);

	--ff-primary: "Overpass", sans-serif;
	--fw-400: 400;
	--fw-700: 600;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: grid;
	min-height: 100vh;
	place-items: center;
	background-color: var(--clr-bg);
	font-family: var(--ff-primary);
}
.container {
	padding: 0 2rem;
}
.card {
	background-color: var(--primary-500);
	padding: 2rem;
	border-radius: 1rem;
	width: 21.875rem;
}
.card-icon {
	background-color: var(--gray-500);
	width: fit-content;
	padding: 0.75rem;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 1rem;
}

.card-title {
	color: var(--white);
}

/* Utils */
.hidden {
	display: none;
}

/* Atribution section provided by Frontend Mentor */
.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
